!.gitignore
docker/panel/.env
node_modules
.env
.git
README.md
.nyc_output
coverage
.nyc_output
.vscode
.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
./.env

# Laravel specific
/panel/vendor
/panel/node_modules
/panel/public/hot
/panel/public/storage
/panel/storage/*.key
/panel/.env
/panel/.phpunit.result.cache

# Vue specific  
/landing/dist
/landing/node_modules
/landing/.env.local
/landing/.env.*.local